.headerWrapper {
    background-color: rgba(0, 0, 0, 0.904);
    display:flex;
    justify-content: space-between;
    padding:1rem 3rem;
}

.title {
    color:white;
    font-weight:700;
    letter-spacing:10px;
}
.linkList {
    display:flex;
    flex-direction: row;
    gap:3rem;
    color:white;
    font-size:1.5rem;
    align-items: center;
}
.link > a , .title > a {
    text-decoration: none;
    color:white;
}
